<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>welcome on welcome page</title>
    </head>
    <body>
        <h1>{{welcomeText}}</h1>
        <p>Hello folks!</p>
        <footer>
            <p>copyright {{ currentYear }}</p>
        </footer>
    </body>
</html>